:root {
  --wpr-body-color: #ffffff;
  --wpr-theme-color: #ebf3ed;
  --wpr-primary-color: #ff7029;
  --wpr-button-color: #3a954f;
  --wpr-secondary-color: #828282;
  --wpr-offwhite-color: #E6E6E6;
  --wpr-offwhite-color-2: #F5F5FAA6;
  --wpr-green--color: #2B8740;
  --wpr-dark-color: #1f2220;
  --wpr-dark-color--1: #272928;
  --wpr-black-color: #000;
  --wpr-hover-color: #14261abf;
  --wpr-grey-color: #1418208c;
  --wpr-grey-color-light: #BDC7CD;
}
