$font-url: 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Niconne&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap';

:root {
    --wpr-font-body: "Inter", sans-serif;
    --wpr-font-heading: "Plus Jakarta Sans", sans-serif;
    --wpr-font-sub-heading: "Plus Jakarta Sans", sans-serif;
    --wpr-player-font: "Niconne", cursive;
}